hr {
    margin: 0;
}
.rodape {
    background-color: var(--branco);
    padding: 1em;
}
.lista_rodape {
    display: none;
}
.lista_rodape-link:hover {
    color: aquamarine;
    }

@media screen and (min-width:1024px) {
        .rodape {
            display: flex;
            justify-content: space-around;
        }
        .lista_rodape-item {
            display: flex; 
            align-items: center;
            margin: 0.6em 0;
        } 

        .lista_rodape {
            display: block;
        }
        
        .lista_rodape-link {
            color: var(--cinza);
            text-decoration: none;
            margin-left: 0.6em;
        }   
        .rodape_titulo {
            font-size: 24px;
            padding-top: 1em;
            padding-right: 0.6em;
        }
        
        .lista_rodape-titulo {
            font-size: 14px;
            color: var(--cinza2);
            text-transform: uppercase;
            padding: 1em;
        }
}
@media  screen and (min-width: 1366px) and (max-width:3840px){
    .lista_rodape {
        border-left: 1px solid var(--cinza2);
        padding-left: 1em;
    }
}